#BigScore-Support-Section1 {
    height: 739px;
    width: 100vw;
}

.BigScore-Support-Section1-Support {
    padding-top: 162px;
    font-family: poppins-800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #2a9c94;
}
