#SPL-LandingPage-Section4 {
    width: 100vw;
    height: 1180px;
    border: 1px solid red;
    background-color: white;
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
}

.SPL-LandingPage-Section4-Background {
    position: absolute;
    /* width: 1000px;
    height: 945px; */
    width: 1080px;
    height: 945px;
    left: 409px;
    margin-top: 40px;
}

.SPL-LandingPage-Section4-Scroll-Container {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 695px;
    height: 1105px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 6px 3px rgba(207, 207, 207, 0.25);
    border-radius: 5px;
    margin-left: 136px;
    margin-top: 20px;
}

.SPL-LandingPage-Section4-Scroll-Header-Container {
    height: 205px;
}

.SPL-LandingPage-Section4-Scroll-Header-Title {
    position: absolute;
    width: 488px;
    height: 120px;
    left: 64px;
    top: 42px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 115%;
    /* or 40px */

    text-transform: capitalize;

    color: #484848;
    letter-spacing: 0.5px;
}

.SPL-LandingPage-Section4-Scroll-Content-Container {
    height: 777px;
    overflow: auto;
    overflow-x: hidden;
}

.SPL-LandingPage-Section4-Scroll-Vector {
    margin-top: 64px;
    margin-left: 332px;
}
