#BigScoreAboutUs-Section4 {
    width: 100vw;
    height: 1441px;
}

.BigScoreAboutUs-Section4-Title {
    margin-top: 43px;
    text-align: center;
    font-family: poppins-700;
    font-size: 90px;
    line-height: 100px;
    color: #2a9c94;
}

@media screen and (max-width: 1440px) {
    .BigScoreAboutUs-Section4-Title {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
    .BigScoreAboutUs-Section4-Title {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 1100px) {
}
