#BigScoreAboutUs-Section4 {
    width: 100vw;
    height: 1441px;
}

.BigScoreAboutUs-Section4-Title {
    margin-top: 43px;
    text-align: center;
    font-family: poppins-700;
    font-size: 90px;
    line-height: 100px;
    color: #2a9c94;
}
