.bigView-navbar-container {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    z-index: 3;
}

.BigView-LandingPage-Section2-Container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 1100px) {
}
