#BigViewLandingPage-Section9 {
    height: 700px;
    width: 100vw;
    background-color: rgba(255, 240, 219, 1);
}

.BigViewLandingPage-Section9-Title {
    position: relative;
    top: 55px;
    margin-left: 147px;
    width: 404px;
    height: 210px;

    font-family: poppins-800;
    font-size: 50px;
    line-height: 70px;

    color: #2c2c2c;
}

.BigViewLandingPage-Section9-Content-row1-Container {
    margin-top: 109px;
    margin-left: 146px;
    display: flex;
}

.BigViewLandingPage-Section9-Content1-Vector {
    width: 120px;
    height: 120px;
}

.BigViewLandingPage-Section9-Content-Desc-Container {
    width: 500px;
    height: 80px;

    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: poppins-400;
    font-size: 18px;
    line-height: 27px;
    padding-left: 80px;
    padding-top: 13px;
}

.BigViewLandingPage-Section9-Content1-Desc-Container {
    margin-top: -100px;
    margin-left: 65px;
}

.BigViewLandingPage-Section9-Content2-Container {
    margin-left: 120px;
}

.BigViewLandingPage-Section9-Content-row2-Container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 1440px) {
    .BigViewLandingPage-Section9-Title {
        margin-left: 100px;
    }
    .BigViewLandingPage-Section9-Content-row1-Container {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
    .BigViewLandingPage-Section9-Content-row1-Container {
        transform: scale(0.9);
        margin-left: 40px;
    }
    .BigViewLandingPage-Section9-Content-row2-Container {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 1100px) {
}
