#navbarSpl {
    height: 94px;
    width: 100vw;
    box-shadow: 0 4px 4px 0px rgb(0, 0, 0, 0.11);
    display: flex;
    background-color: white;
}

.SPLNavbarLogo {
    width: 216px;
    height: 73px;
    margin-left: 106px;
    margin-top: 9px;
}

.SplnavbarMenu-container {
    margin-left: 174px;
    height: 94px;
    align-items: center;
    display: flex;
}

.SplNavbarMenu {
    color: black;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: poppins-500;
}

.SplNavbarMenu:hover {
    color: #d23d3d;
}

.SplNavbarDropdownProduct-Container {
    height: 110px;
    width: 293px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 15px 16px;
}

.SplDropdown-Menu-Product {
    color: black;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: poppins-500;
}

.SplDropdown-Menu-Product:hover {
    color: #d23d3d;
}

.SplNavbarDropdownProduct-row2 {
    margin-top: -7.5px;
}

.SplNavbarDropdownProduct-row3 {
    margin-top: -8px;
}

.SplNavbarMenuSolution {
    margin-top: 20px;
    margin-left: 47px;
}

.SplNavbarMenuPartnership {
    margin-left: 34px;
    margin-top: 20px;
}

.SplNavbarMenuResources {
    margin-left: 33px;
}

.SplNavbarDropdownResources-Container {
    padding: 15px 16px;
    width: 152px;
    height: 103px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.SplDropdown-Menu-Recources {
    color: black;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: poppins-500;
}

.SplDropdown-Menu-Recources:hover {
    color: #d23d3d;
}

.SplDropdown-Menu-Recources-row2 {
    margin-top: -8.5px;
}

.SplDropdown-Menu-Recources-row3 {
    margin-top: -8.5px;
}

.SplNavbarMenuCompany {
    margin-left: 47px;
}

.SplNavbarDropdownCompany-Container {
    padding: 15px 16px;
    width: 152px;
    height: 103px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.SplDropdown-Menu-Company {
    color: black;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: poppins-500;
}

.SplDropdown-Menu-Company:hover {
    color: #d23d3d;
}

.SplDropdown-Menu-Company-row2 {
    margin-top: -8.5px;
}

.SplDropdown-Menu-Company-row3 {
    margin-top: -8.5px;
}

.SplNavbarButtonDemoApps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 122px;
    height: 35px;
    margin-left: 63px;

    background-color: transparent;

    border: 1px solid #d23d3d;
    color: #d23d3d;
    box-sizing: border-box;
    border-radius: 17px;

    font-size: 13px;
    font-family: poppins-500;
    transition: all 0.3s ease-in-out;
}

.SplNavbarButtonDemoApps:hover {
    background-color: #d23d3d;
    color: white;
}

.SPlNavbarButtonContactUs {
    width: 122px;
    height: 37.75px;

    margin-left: 25px;
    background: #d23d3d;
    border-radius: 17px;
    color: white;

    font-size: 13px;
    font-family: poppins-500;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
}

.SPlNavbarButtonContactUs:hover {
    background-color: transparent;
    color: red;
    border: 1px solid red;
}

@media screen and (max-width: 1440px) {
    .SPLNavbarLogo {
        margin-left: 72px;
    }
}

@media screen and (max-width: 1400px) {
    .SPLNavbarLogo {
        margin-left: 32px;
    }

    .SplnavbarMenu-container {
        margin-left: 80px;
    }

    .SplNavbarButtonDemoApps {
        margin-left: 103px;
    }
}

@media screen and (max-width: 1300px) {
    .SPLNavbarLogo {
        margin-left: 55px;
    }

    .SplnavbarMenu-container {
        margin-left: 20px;
    }

    .SplNavbarButtonDemoApps {
        margin-left: 85px;
    }
}

@media screen and (max-width: 1150px) {
    .SPLNavbarLogo {
        margin-left: 0px;
        transform: scale(0.85);
    }

    .SplnavbarMenu-container {
        margin-left: 10px;
    }

    .SplNavbarMenuSolution {
        margin-left: 20px;
    }

    .SplNavbarMenuPartnership {
        margin-left: 20px;
    }

    .SplNavbarMenuResources {
        margin-left: 20px;
    }

    .SplNavbarMenuCompany {
        margin-left: 20px;
    }

    .SplNavbarButtonDemoApps {
        margin-left: 65px;
    }
}

@media screen and (max-width: 1100px) {
    .SPLNavbarLogo {
        margin-left: -20px;
        transform: scale(0.85);
    }

    .SplnavbarMenu-container {
        margin-left: 0px;
    }

    .SplNavbarButtonDemoApps {
        margin-left: 25px;
    }
}
