#navbarSpl {
    height: 94px;
    width: 100vw;
    box-shadow: 0 4px 4px 0px rgb(0, 0, 0, 0.11);
    display: flex;
    background-color: white;
}

.navbarLogo {
    width: 216px;
    height: 73px;
    margin-left: 118px;
    margin-top: 11px;
}

.navbarMenu-container {
    display: flex;
    margin-left: 163px;
    height: 94px;
    margin-top: 10px;
    align-items: center;
}

.navbarMenu {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: poppins-500;
}

.navbarMenu:hover {
    color: #d23d3d;
}

.navbarMenuProduct {
    position: relative;
    bottom: 8.8px;
    left: 15px;
}

.dropdown-menu-container {
    width: 253px;
    border-radius: 6px;
    height: 110px;
}

.dropdown-menu-container > table {
    margin-left: 16px;
    margin-top: 8.5px;
}

.dropdown-menu-container > table > tbody > .tr1 {
    height: 10px;
}

.dropdown-menu-container > table > tbody > .tr1 > .td1 {
    width: 140px;
}

.dropdown-menu-container > table > tbody > .tr2 {
    position: relative;
    bottom: 6.5px;
}

.dropdown-menu-container > table > tbody > .tr3 {
    position: relative;
    bottom: 12.5px;
}

.navbarMenuSolution {
    margin-left: -25px;
}

.navbarMenuResources {
    position: relative;
    bottom: 8.8px;
}

.navbarMenuResources > .dropdown-menu {
    height: 103px;
    width: 152px;
}

.navbarMenuResources > .dropdown-menu > div {
    margin-left: 16px;
}

.navbarMenuResources > .dropdown-menu > div > .FAQ {
    position: relative;
    bottom: 3px;
}

.navbarMenuResources > .dropdown-menu > div > .Support {
    position: relative;
    bottom: 6px;
}

.navbarMenuCompany {
    margin-left: -45px;
    margin-bottom: 16.8px;
}

.navbarMenuCompany > .dropdown-menu {
    height: 103px;
    width: 108px;
}

.navbarMenuCompany > .dropdown-menu > div {
    margin-left: 16px;
}

.navbarMenuCompany > .dropdown-menu > .Blog {
    position: relative;
    bottom: 3px;
}

.navbarMenuCompany > .dropdown-menu > .Press {
    position: relative;
    bottom: 6px;
}

.Dropdown-Menu {
    color: black;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.Dropdown-Menu:hover {
    color: #d23d3d;
}

.navbarButton-container {
    height: 94px;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.navbarButton {
    font-family: poppins-500;
    width: 122px;
    height: 35px;
    border-radius: 17px;
    margin-right: 13px;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
}

.navbarButton:hover {
    border: #d23d3d;
    color: white;
    background-color: #d23d3d;
}

.buttonDemo {
    border: 1px solid #d23d3d;
    color: #d23d3d;
    background-color: transparent;
}

.navbarContactUs {
    border: 1px solid #d23d3d;
    color: white;
    background-color: #d23d3d;
    margin-left: 12px;
}

.navbarContactUs:hover {
    border: 1px solid #d23d3d;
    color: #d23d3d;
    background-color: transparent;
}
