.SPL-LandingPage-navbar-container {
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 2;
}

.SPL-LandingPage-content-container {
    margin-top: 95px;
}

.cekWidth {
    width: 1920px;
}

.SPL-LandingPage-content-container-section-2-3 {
    box-shadow: 24px 8px 24px 16px rgba(0, 0, 0, 0.25);
}

.SPL-LandingPage-Section7-Background2 {
    position: absolute;
    left: 1045.35px;
    top: 4655px;
    width: 238.23px;
    height: 381.62px;
}

@media screen and (max-width: 1440px) {
    .SPL-LandingPage-Section7-Background2 {
        left: 66.8vw;
        top: 4750px;
    }
}

@media screen and (max-width: 1300px) and (max-height: 900px) {
    .SPL-LandingPage-Section7-Background2 {
        left: 69.3vw;
        top: 4655px;
    }
}

@media screen and (max-width: 1300px) and (min-height: 910px) {
    .SPL-LandingPage-Section7-Background2 {
        left: 69.3vw;
        top: 4805px;
    }
}

@media screen and (max-width: 1150px) {
    .SPL-LandingPage-Section7-Background2 {
        left: 66vw;
        top: 4679px;
        transform: scale(0.75);
    }
}

@media screen and (max-width: 1100px) {
    .SPL-LandingPage-Section7-Background2 {
        left: 67.5vw;
        top: 4621px;
        transform: scale(0.75);
    }
}
