#SPL-LandingPage-Section7 {
    height: 373px;
    background-color: #484848;
    font-family: "Poppins", sans-serif;
}

.SPL-LandingPage-Section7-Title {
    width: 602px;
    height: 120px;
    position: absolute;
    left: 137px;
    margin-top: 81px;

    font-style: normal;
    font-family: poppins-700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.75px;

    text-transform: uppercase;

    color: #ffffff;
}

.SPL-LandingPage-Section7-Contact-Us {
    position: absolute;
    left: 137px;
    margin-top: 250px;
    width: 321px;
    height: 47px;

    border: 1px solid transparent;
    background: #d23d3d;
    border-radius: 65px;

    color: white;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: poppins-700;
}
